<footer class="text-center">
    <section>
        <div class="container text-center">
            <div class="row mt-4">
                <div class="col">
                    <i class="fa fa-home"></i> <br>
                    Home
                </div>

                <div class="col">
                    <i class="fa fa-clipboard"></i> <br>
                    Plantões
                </div>

                <div class="col">
                    <i class="fa fa-heart"></i> <br>
                    Favoritos
                </div>

                <div class="col">
                    <i class="fa fa-user"></i> <br>
                    Minha conta
                </div>


            </div>

        </div>