<div class="container-fluid bg-light">

    <app-menu></app-menu>

    <div class="jumbotron jumbotron-fluid mt-4">
        <div class="container">
            <i class="fa fa-check"></i> Solicitação <strong>aceita</strong>
        </div>
    </div>

    <hr class="my-2">

    <div class="card bg-light">
        <div class="row">
            <div class="col">
                <img src="https://imgur.com/QzEW1W0.png" alt="Profissional de Saúde">
            </div>
            <div class="col">

                <div class="card-body">

                    <strong>Carolina Magalhães</strong>

                </div>

                <div class="card-body ">

                    <button type="button" class="btn btn-transparent btn-phone" data-toggle="modal">
                        <i class="fa fa-phone"></i> Ligar para o profissional
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <i class="fa fa-exclamation-triangle"></i>
                <p class="reportar-cor">Reportar</p>
            </div>
            <div class="col text-center">
                <i class="fa fa-star-o"></i>
                <p class="avaliar-cor">Avaliar</p>

            </div>
            
            <hr>

        </div>

    </div>

</div>



<app-footer></app-footer>